@{
    Layout = "_createRequest";
}
<div class="row justify-content-center">
    <div class="col-lg-3 col-md-5 col-8">
        <div class="justify-content-center d-flex mb-4">
            <h4 class="head">I am a...</h4>
        </div>
        <div>
            <a asp-controller="create_request" asp-action="create_patient_request" class="text-decoration-none">
                <div class="button" id="btn_1">Patient</div>
            </a>
            <a href="/create_family-friend_request.html" class="text-decoration-none">
                <div class="button" id="btn_2">Family / Friend</div>
            </a>
            <a href="/create_concierge_request.html" class="text-decoration-none">
                <div class="button" id="btn_3">Concierge</div>
            </a>
            <a href="/create_business-partner_request.html" class="text-decoration-none">
                <div class="button" id="btn_4">Business Partners</div>
            </a>
        </div>
    </div>
</div>